/* CSS for Navbar Component - Pre-Login, Post-Login, and Admin*/

body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
i {
    color: #E5E5E5;
    margin-right: 5px;
    margin-left: 30px;
}
div#WebsiteTitle a{
    color: #E5E5E5 !important;
    font-size: 30px;
    font-family: 'Scope One', serif;
    font-weight: lighter;
    text-decoration: none !important;
    padding: 10px;
}
div#WebsiteTitle a:hover {
    text-decoration: none !important;
    color: #E5E5E5 !important;
}
div.Links a{
    color: #E5E5E5 !important;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    float: left;
    text-decoration: none !important;
}
div.Links a:hover {
    font-weight: bold !important;
    
}
.containerLinks {
    margin-left: auto;
    margin-right: 0;
}
img#Logo.img-fluid{
    width: 2%;
    display: flex;
    align-items: center;
    height: 30px;
}


/* CSS For the Pre-Login Navbar*/
div#Pre-Login_NavBar{
    padding: 19px;
}
button#NavbarButton.btn {
    color: #1877F2 !important;
    border: 2px solid #1877F2;
    box-sizing: border-box;
    border-radius: 50px;
    background: transparent;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-left: 30px;
    margin-right: 10px;
    /* Centering the Icon */
    display: flex;
    align-items: center;
}
button#NavbarButton.btn:hover{
    color: #E5E5E5 !important;
    background-color: #1877F2 !important;
}
button#NavbarButton.btn:hover i.ri-facebook-circle-fill.ri-lg{
    color: #E5E5E5 !important;
}
i.ri-facebook-circle-fill.ri-lg{
    margin-left: 0px;
    color: #1877F2;
}



/* CSS For the Post-Login Navbar*/
div#Post-Login_NavBar{
    padding: 15px;
}
.dropdown {
    float: left;
    overflow: inherit;
    font-size: 17px;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #E5E5E5;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.dropdown{
    margin-left: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* min-width: 160px; */
    /*box-shadow: 0px 8px 16px 0px #E5E5E5;*/
}
div#DropDown a{
    float: none;
    color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
div#DropDown a:hover {
    background-color: transparent;
    font-weight: bold !important;
}
.dropdown:hover .dropdown-content {
    display: block;
}
button#LogoutBtn{
    background-color: transparent;
    color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    padding: 6px 9px;
}
button#LogoutBtn:hover{
    background-color: transparent;
    font-weight: bold !important;
}
button.dropbtn.btn p{
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 1.4em;
    color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
}

/* CSS For the Admin Navbar*/
div#Admin_NavBar{
    padding: 15px;
}
#userid{
    display: none;
}