/* CSS for the Cart Page*/

h1.CartPage_Title{
    float: left;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding-top: 4%;
    color: #E5E5E5;
}
div#CartPageContainer.container{
    padding-top: 12%;
    margin-left: 5.5%;
    margin-right: 20px;
}
div#CartPage{
    padding-left: 6%;
}
button.PlaceOrder-button{
    display: flex;
    flex-direction: row;
    padding: 10px 390.2px;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    margin: 40px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Avenir";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
button.PlaceOrder-button:hover{
    background: transparent;
}

.cart-item-price {
    color: #E5E5E5 !important;
}

/* CSS for the Your Order Section */
h1.YourOrderTitle{
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 500;
    color: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    float: left;
}
div.OrderContents{
    background-color: transparent;
    margin-top: 25%;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color:#E5E5E5;
    font-family: "Avenir";
    text-align: center;
}
div.order.card{
    background-color: transparent;
    color: #E5E5E5;
    font-size: 15px;
    font-family: "Avenir";
    border-style: solid;
    border-width: thin;
    border-color: transparent;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    margin-top: 30px;
    margin-bottom: 5px;
}
img.order-img.card-img-top{
    width: 30%;
}
h2.order-card-title.card-title.col-md-8{
    font-size: 25px;
}
div#OrderTotal.row h1{
    color: #E5E5E5;
    font-family: "Avenir";
    text-align: left;
}
div.col-md-8{
    padding: 0px;
}
div#Order.col-md-4{
    padding-right: 30px;
}
button.AddPurgePlant-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 77.2px;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Avenir";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
button.AddPurgePlant-button:hover{
    background: transparent;
}
#addAddressModal,
#editAddressModal,
#addPurgePlantModal {
    font-family: "Avenir";
    color: #FBFBEF;
}
.modal-header,
.modal-body,
.modal-footer {
    background: #312C3B;
}
button.purge-plant-button.btn{
    width: 100%;
}
.save-button, .submit-button, button.purge-plant-button.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
}
.save-button:hover, .submit-button:hover, button.purge-plant-button.btn:hover {
    color: #6AA17B;
    background: transparent;
    border-color: #6AA17B;
}
p.order-price.col{
    margin-left: 1%;
}
i.fa.fa-trash-o.fa-lg{
    margin-left: 0px;
}
@media screen and (min-width: 992px)  and (max-width: 1200px)  {
    div.OrderContents{
        margin-top: 30%;
    }    
    div.col-md-1{
        width: 5%;
    }
    div.col-md-3{
        width: 27%;
    }
    div.col-md-8{
        width: 68%;
    }
}
@media screen and (min-width: 825px)  and (max-width: 991px)  {
    div.OrderContents{
        margin-top: 30%;
    }    
    div.col-md-1{
        width: 3%;
    }
    div.col-md-3{
        width: 35%;
    }
    div.col-md-8{
        width: 61%;
    }
}
@media screen and (min-width: 768px)  and (max-width: 824px)  {
    div.OrderContents{
        margin-top: 30%;
    }
    div#CartPageContainer.container{
        padding-top: 6%;
        float:left;
    }    
    div.col-md-1{
        width: 1%;
    }
    div.col-md-3{
        width: 35%;
    }
    div.col-md-8{
        width: 61%;
    }
}
@media screen and (max-width: 767px)  {
    div.OrderContents{
        margin-top: 35%;
    }
    div#CartPageContainer.container{
        padding-top: 5%;
        float:left;
    }
    div.order.card img{
        width: 100px;
    }
    div.order.card h2{
        font-size: 25px !important;
        margin-top: 3% !important;
    }
}
@media screen and (min-width: 567px)  and (max-width: 767px)  {
    div.col-md-1{
        width: 0.5%;
    }
    div.col-md-3{
        width: 41.5%;
    }
    div.col-md-8{
        width: 54%;
    }
}
@media screen and (min-width: 511px)  and (max-width: 566px)  { 
    div.OrderContents{
        margin-top: 40%;
    }  
    div.col-md-1{
        width: 0%;
    }
    div.col-md-3{
        width: 35%;
    }
    div.col-md-8{
        width: 60%;
    }
}
@media screen and (max-width: 511px)  {
    div.OrderContents{
        margin-top: 40%;
    }   
    div.col-md-3{
        width: 50%;
    }
    div#Order.col-md-3{
        padding-bottom: 15%;
        padding-left: 10%;
    }
    div.col-md-8{
        width: 57%;
    }
    div#accordionPanelsStayOpenExample.accordion{
        padding-left: 10%;
    }
}


/* CSS for the Accordian Section*/
h1.AccordianTitle{
    font-family: 'Scope One', serif;
    font-style: normal;
    color: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
h2.AccordianSubtitle{
    font-family: 'Scope One', serif !important;
    font-style: normal !important;
    color: #E5E5E5 !important;
    font-size: 15px !important;
    float:left;
}
div.accordion-body{
    background: transparent !important;
    border-color: #E5E5E5;
    border-width: thin;
    border-top-style: solid;
}
div.accordion-item{
    background: transparent !important;
    border-color: transparent;
    margin-bottom: 3%;
}
button.accordion-button{
    background: transparent !important;
    height: fit-content;
    padding: 0px;
    margin-bottom: 10px;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E5E5E5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
div.container.addresses-container{
    margin-top: 30px;
}
div.card.h-100.cart{
    margin-right: 0px !important;
    max-width: 13rem;
    height: 200px !important;
}
div.card.h-100.cart a{
    font-size: 1.25rem;
    font-family: 'Avenir';
    color:#26222E;
    font-weight: 500;
    font-style: normal;
    text-decoration:none ;
}
input{
    margin-right: 5px;
}
label.radio-label{
    font-family: 'Avenir';
    font-style: normal;
    color: #E5E5E5;
    font-size: 18px;
}
div.PaymentSelection{
    margin-top: 30px;
    padding-left: 40px;
}
input#PaymentUsername{
    width: 15em;
    margin-left: 45px;
}
div.card.h-100.cart{
    font-size: 1.25rem;
    font-family: 'Avenir';
    color:#26222E;
    font-weight: 500;
}
div#Cart-Image-Upload{
    text-align: center;
}
@media screen and (min-width: 1200px)  and (max-width: 1400px)  {
    div.col-sm{
        width: 0% !important;
    }
    button.PlaceOrder-button{
        padding: 10px 255px;
    }
    button.AddPurgePlant-button{
        padding: 10px 15px;
        margin-left: 40px;
    }
}
@media screen and (min-width: 992px)  and (max-width: 1200px)  {
    div.col-sm{
        width: 40% !important;
        padding-bottom: 5%;
    }
    .col-sm{
        flex: 0 0 0%;
    }
    button.PlaceOrder-button{
        padding: 10px 200px;
    }
    button.AddPurgePlant-button{
        padding: 10px 15px;
        margin-left: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)  {
    div.col-sm{
        width: 55% !important;
        padding-bottom: 5%;
    }
    .col-sm{
        flex: 0 0 0%;
    }
    button.PlaceOrder-button{
        padding: 10px 90px;
    }
    button.AddPurgePlant-button{
        padding: 10px 15px;
        margin-left: 22px;
    }
}
@media screen and (min-width: 574px) and (max-width: 768px)  {
    div.col-sm{
        width: 55% !important;
        padding-bottom: 5%;
    }
    .col-sm{
        flex: 0 0 0%;
    }
    button.PlaceOrder-button{
        padding: 10px 60px;
        margin-left: 32px;
    }
    button.AddPurgePlant-button{
        padding: 10px 10px;
        margin-left: 15px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 573px)  {
    div.col-sm{
        width: 55% !important;
        padding-bottom: 5%;
    }
    .col-sm{
        flex: 0 0 0%;
    }
    button.PlaceOrder-button{
        padding: 10px 30px;
        margin-left: 40px;
    }
    button.AddPurgePlant-button{
        padding: 10px 10px;
        margin-left: 15px;
        margin-right: 0px;
    }
}
