.catalog-card-title {
    font-size: calc(9px + 1vmin);
}

h1.catalog-header{
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding-top: 14%;
    color: #E5E5E5;
}
p.catalog-caption{
    font-family: 'Petrona', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    color: #E5E5E5;
}
section.searchbar{
    margin-left: 19%;
    margin-top: 5%;
    margin-bottom: 3%;
}
div.offset-md-1.col-md-3{
    margin-left: 6% !important;
}

.catalog-img {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    object-fit: cover;
    min-height: 24rem;
}

.catalog-card-title {
    margin-left: 5%;
}

.catalog-price {
    margin: 0;
    padding-left: 0;
    margin-right: 5%;
    font-size: calc(3.5px + 1vw);
    white-space: nowrap;
}

div.cards {
    max-width: 100%;
}

.catalog-price-col {
    text-align: right;
}

.catalog-card {
    font-family: 'Scope One', 'Serif';
    background-color: #FBFBEF;
    color: #000000;
    min-height: 28rem;
    margin-bottom: 10%;
}

#catalogModal {
    border: none;
    font-family: 'Scope One', 'Serif';
}

button.cart-button {
    display: flex;
    flex-direction: row;
    padding: 10px 310px;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    margin: 40px;
    margin-left: 80px;
    font-family: "Avenir";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

button.cart-button:hover {
    color: #6AA17B;
    background: transparent;
    border-color: #6AA17B;
}

button.cart-button:focus {
    color: #6AA17B;
}

.catalog.modal-header {
    border: none;
}

.catalog.modal-footer {
    border: none;
}

.searchbar {
    width: 60%;
}

.col-md-2 {
    display: inline-block;
    margin-left: 3%;
    margin-top: 2%;
}