/* CSS for the Home Page*/
div.embed-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 30%;
}
html{
    /*background: linear-gradient(180deg, #1E1B24 10.94%, #322E3C 100%);*/
    background-color: #26222E;
}
button.home-catalog-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    position: fixed;
    left: 4.7%;
    top: 51%;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    font-weight: 500;
    font-size: 1.1vw;
}
button:hover {
    color: #6AA17B;
    background: #26222E;
    border-color: #6AA17B;
}
h1#Home_Title{
    position: fixed;
    left: 4.7%;
    top: 36%;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4vw;
    float: left;
    line-height: 97px;
    color: #E5E5E5;
}
.rectangle1 {
    position: fixed;
    width: 12%;
    left: 10%;
    top: 87%;
    border: 6px solid #7C5B49;
    z-index: 1;
}
.rectangle2 {
    position: fixed;
    width: 12%;
    left: 30%;
    top: 75%;
    border-radius: 0rem;
    border: 6px solid #574444;
    z-index: 1;
}
.rectangle3{
    position: fixed;
    width: 12%;
    left: 55%;
    top: 38%;
    border: 6px solid #7C5B49;
    z-index: 1;
}
.rectangle4{
    position: fixed;
    width: 12%;
    left: 75%;
    top: 25%;
    border: 6px solid #574444;
    z-index: 1;
}
img#HexagonsImage.img-fluid {
    position: fixed;
    left: 55%;
    top: 36%;
    width: 35%;
}
img#Plant1.img-fluid {
    position: fixed;
    width: 13%;
    left: 10%;
    top: 68.5%;
}
img#Plant2.img-fluid {
    position: fixed;
    width: 13%;
    left: 53%;
    top: 19%;
}
img#Ledge1.img-fluid {
    position: fixed;
    width: 13%;
    left: 30%;
    top: 75%;
}
img#Ledge2.img-fluid {
    position: fixed;
    width: 13%;
    left: 75%;
    top: 25%;
}