.table-bg {
    background-color: #fbfbef;
    color: #000000;
}

.orders.table {
    font-family: 'Scope One', 'Serif';
    width:84%;
    margin: auto;
    font-size: calc(3px + 1vw);
    border-radius: 5px;
}

th {
    text-align: center;
}

h1.orders-header {
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding-top: 14%;
    color: #E5E5E5;
}
div#OrderHeader.offset-md-1.col-md-3{
    margin-left: 5% !important;
}

.table-body {
    font-weight: lighter;
    border-radius: 5px;
    border-bottom: none;
}