.AdminDashboardPage_Title {
    float: left;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding-top: 4%;
    color: #E5E5E5;
}

div#AdminDashboardPageContainer.container{
    padding-top: 12%;
    margin-left: 0px;
}
div#AdminDashboardPage{
    padding-left: 6%;
    padding-right: 6%;
}

#AdminDashboardPage .edit-catalog-pane {
    background-color: #FBFBEF;
    border-radius: 7px;
}

#AdminDashboardPage .view-orders-pane {
    background-color: #FBFBEF;
    border-radius: 7px;
}

#AdminDashboardPage .flex-box-view-orders-button, 
#AdminDashboardPage .flex-box-edit-catalog-button {
    display:flex;
    justify-content: flex-end;
    width: 84%;
    padding: 0px;
    margin-right: 20px;
    padding-bottom: 15px;
}

#AdminDashboardPage .view-orders-button, 
#AdminDashboardPage .edit-catalog-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #000000;
}

#AdminDashboardPage .view-orders-button:hover, 
#AdminDashboardPage .edit-catalog-button:hover {
    color: #6AA17B;
    background: #26222E;
    border-color: #6AA17B;
}

#AdminDashboardPage .admin-catalog-img {
    width: 80px;
}

#AdminDashboardPage .col-catalog {
    padding-left: 0px ;
}