/* CSS for the Cart Page*/

h1.CartPage_Title{
    float: left;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding-top: 4%;
    color: #E5E5E5;
}
div#CartPageContainer.container{
    padding-top: 12%
}
div#CartPage{
    padding-left: 6%;
}



/* CSS for the Your Order Section */
h1.YourOrderTitle{
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: 500;
    color: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    float: left;
}



/* CSS for the Accordian Section*/
h1.AccordianTitle{
    font-family: 'Scope One', serif;
    font-style: normal;
    color: #E5E5E5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
h2.AccordianSubtitle{
    font-family: 'Scope One', serif;
    font-style: normal;
    color: #E5E5E5;
    font-size: 15px;
    float:left;
}
div.accordion-body{
    background: transparent !important;
    border-color: #E5E5E5;
    border-width: thin;
    border-top-style: solid;
}
div.accordion-item{
    background: transparent !important;
    border-color: transparent;
    margin-bottom: 7%;
}
button.accordion-button{
    background: transparent !important;
    height: fit-content;
    padding: 0px;
    margin-bottom: 10px;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E5E5E5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}