/* CSS for the Home Page*/

/* CSS for NavBar - needed for every page*/
iframe{
    border: none;
    width: 100%;
    height: 100%;
}

/* CSS for Home Page*/
div.embed-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 30%;
}
html{
    /*background: linear-gradient(180deg, #1E1B24 10.94%, #322E3C 100%);*/
    background-color: #26222E;
}
button.home-catalog-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    position: absolute;
    width: 218px;
    height: 51px;
    left: 89px;
    top: 417px;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    font-weight: 500;
}
button:hover {
    color: #6AA17B;
    background: #26222E;
    border-color: #6AA17B;
}
h1#Home_Title{
    position: absolute;
    width: 613px;
    height: 97px;
    left: 89px;
    top: 300px;
    font-family: 'Scope One', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 97px;
    color: #E5E5E5;
}
/*vector#OverheadLight1{
    position: absolute;
    left: 443px;
    top: 54px;
    background:  linear-gradient(176.59deg, rgba(251, 251, 239, 0.1) 2.82%, rgba(251, 251, 239, 0) 97.2%);
	border-bottom: 325px solid rgba(131, 131, 126, 0.158); 
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 100px;
	width: 155px;
}*/
.rectangle1 {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 121px;
    top: 644px;
    border: 6px solid #7C5B49;
    z-index: 1;
}
.rectangle2 {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 475px;
    top: 591px;
    border: 6px solid #574444;
    z-index: 1;
}
.rectangle3{
    position: absolute;
    width: 200px;
    height: 0px;
    left: 850px;
    top: 258px;
    border: 6px solid #7C5B49;
    z-index: 1;
}
.rectangle4{
    position: absolute;
    width: 200px;
    height: 0px;
    left: 1150px;
    top: 208px;
    border: 6px solid #574444;
    z-index: 1;
}
img#HexagonsImage.img-fluid {
    position: absolute;
    width: 540px;
    left: 880px;
    top: 270px;
}
img#Plant1.img-fluid {
    position: absolute;
    width: 120px;
    left: 880px;
    top: 110px;
}
img#Plant2.img-fluid {
    position: absolute;
    width: 120px;
    left: 143px;
    top: 497px;
}
/* NavBar - NEED TO FIX*/
@media only screen and (min-device-width : 710px) and (max-device-width : 851px) {
    div.embed-responsive{
      padding-left: 120%; 
    }
}
@media only screen and (min-device-width : 610px) and (max-device-width : 709px) {
    div.embed-responsive{
      padding-left: 145%; 
    }
}
@media only screen and (min-device-width : 560px) and (max-device-width : 634px) {
    div.embed-responsive{
      padding-left: 164%; 
    }
}
@media only screen and (min-device-width : 460px) and (max-device-width : 559px) {
    div.embed-responsive{
      padding-left: 184%; 
    }
}
@media only screen and (min-device-width : 409px) and (max-device-width : 459px) {
    div.embed-responsive{
      padding-left: 210%; 
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 409px) {
    div.embed-responsive{
      padding-left: 240%; 
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {
    div.embed-responsive{
      padding-left: 264%; 
    }
}