.settings {
    font-family: "Avenir";
}

#addAddressModal,
#editAddressModal {
    font-family: "Avenir";
    color: #FBFBEF;
}

.modal-header,
.modal-body,
.modal-footer {
    background: #312C3B;
}

.basic-user-info-container {
    margin-top: 40px;
}

.basic-user-info-container .input-box {
    background: #FBFBEF;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    width: 80%;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.btn {
    background: #6AA17B;
    border-radius: 20px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: "Avenir";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.card-body {
    background-color: #FBFBEF;
}

.card-text-bold {
    font-weight: 700;
    margin-bottom: 10px;
}

.profile-picture {
    border-radius: 50%;
}

.heading1 {
    font-family: 'Scope One', serif;
    color: #FBFBEF;
}

.heading2 {
    font-family: 'Scope One', serif;
    color: #FBFBEF;
    text-align: left;
}

.form-label {
    float: left;
}

.settings a {
    color: #312C3B;
}

.settings .heading1 {
    text-align: left;
}

.flex-box-save-button {
    display:flex;
    justify-content: flex-end;
    width: 84%;
}

.save-button, .submit-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #000000;
}

.save-button:hover, .submit-button:hover {
    color: #6AA17B;
    background: #26222E;
    border-color: #6AA17B;
}

.input-box-modal {
    background: #FBFBEF;
    border-radius: 20px;
    border: none;
}

.card-link {
    text-decoration: none;
}

.card-link:hover {
    color: #6AA17B;
}

.addresses-container {
    padding-bottom: 50px;
}

.flex-box-submit-button {
    display:flex;
    justify-content: flex-end;
}

.settings i {
    color: black;
    margin: 0px;
    margin-right: 4px;
}

.settings a:hover {
    color: #6AA17B;
}

.settings .card-text {
    margin-bottom: 10px;
}
.container.address-card {
    display: inline;
    padding-right: 8px;
}

.edit-address-block {
    margin-top: 32px;
}

.container.edit-card {
    text-align: center;
}

.edit-link {
    padding-right: 8px;
}
/* .settings .card-col {
    padding: 0px;
    margin: 0px;
} */
