.modal input[type="file"] {
    display: none;
}

.modal .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    padding-bottom: 20px;
}

.modal i {
    font-size: 40px;
    margin: auto;

}

.modal p {
    margin: 0px;
}

.modal .field-name {
    text-align: left;
    margin-bottom: 10px;
}

.modal {
    color: #e5e5e5;
}
button#edit-plant-modal-button{
    display: flex;
    flex-direction: row;
    margin-right: 1%;
    padding: 10px 185px;
    background: #6AA17B;
    border-color: transparent;
    border: 2px solid transparent;
    border-radius: 50px !important;
    color: #26222E;
    font-family: "Avenir";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}