.modal input[type="file"] {
    display: none;
}

.modal .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    padding-bottom: 20px;
}

.modal i {
    font-size: 40px;
    margin: auto;

}

.modal p {
    margin: 0px;
}

.modal .field-name {
    text-align: left;
    margin-bottom: 10px;
}

.modal {
    color: #e5e5e5;
}